<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510672685761-cpqul3nj12cbquddun1oqvc45squ2thr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510672685761-cpqul3nj12cbquddun1oqvc45squ2thr</string>
	<key>API_KEY</key>
	<string>AIzaSyAv-v-0BO-RatVDFWHAxOLO8WQgftR9Q14</string>
	<key>GCM_SENDER_ID</key>
	<string>510672685761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasecore</string>
	<key>PROJECT_ID</key>
	<string>inapppurchase-28dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>inapppurchase-28dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510672685761:ios:b93636b67bef9dd3caa240</string>
</dict>
</plist>